*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/***************************************************************
GENERAL
***************************************************************/
:root{
  --primary-color:#141922;
  --color-text: white;
  --text-description:#787A7F;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.debug{
  border: 1px solid lightgray;
  background-color: brown;
  min-height: 50px;
}

.d-flex{
  display: flex;
  justify-content: center;
  
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

i{
  cursor: pointer;
}

/***************************************************************
MAIN
***************************************************************/
.main-wrapper{
  height: 100vh;
}

/*** CALL TO ACTION + BUTTON***/

.cta{
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 230px);

  background-color: rgba(8, 11, 18, 0.7);
}

.cta button{
  position: absolute;
  right: 25px;
  top: 26px;
  
  border-radius: 30px;
  border: 1px solid white;
  background-color: rgba(8, 11, 18, 0.7);
  padding: 10px 45px;

  cursor: pointer;
}

.cta button:hover{
  background-color: lightgray;
  
  border: 2px grey solid;
  
}

.cta a{
  text-transform: uppercase;
  text-align: center; 
  
  color: white;
}

.cta a:hover{
  color: #000000;
}



main{
  display: flex;
  height: calc(100% - 90px);
}

/***************************************************************
ASIDE
***************************************************************/

aside{
  width: 230px;
  height: 100%;
  flex-shrink: 0;

  background-color: #000000;
}

/***LOGO***/

.logo img{
  margin: 17px 20px;
  width: 65%;
}

.logo .logo-small{
  display: none;
  width: 35px;

}

.logo{
  cursor: pointer;
}

/***ASIDE CTA***/

.aside-container{
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.aside-nav{
  height: 15%;
  width: 80%;
}

.aside-nav a{
  color: var(--text-description);
}

.aside-nav a img{
  display: inline;
  max-width: 30px;
  color: var(--text-description);
  
}

.aside-container .playlists{
  height: 85%;
  width: 80%;
  padding: 15px 0;
}

.playlists h5{
  color: var(--color-text);
  text-transform: uppercase;
  padding: 10px 0;
}

.playlists span{
  color: var(--text-description);
}

.playlists  i{
  font-size: 30px;
  color: var(--text-description);
}

.list-playlist{
  padding-top: 12px;
}

.list-playlist a{
  color: var(--text-description);
  line-height: 32px;
}

/***ASIDE CTA ACCOUNT***/

.container-account{
  height: 10%;
  width: 100%;
  margin-top: 10px;
}

.cta-app{
  width: 100%;
  height: 50%;
  border-bottom: 1px solid var(--text-description);
}

.cta-app img{
  width:8%;
  color: var(--text-description);
}

.cta-app a{
  color: var(--text-description);
  padding-left: 10px;
  font-size: 13px;
}

.account{
  margin: 10px 0;
}

.account img{
  width: 13%;
  background-color: var(--text-description);
  border-radius: 50%;
  padding: 3px;
}

.account h5{
  padding-left: 10px;
  color: var(--color-text);
}

/***CONTENT**/

.content{
  width: 100%;
  height: 100%;
  padding-top: 90px;

  background-color: var(--primary-color);
  color: var(--color-text);
  overflow-y: auto;
 
}

/***NAV**/

.content .content-nav{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-nav li{
  display: inline-block;
  padding: 20px 25px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: var(--text-description);
}

/***CARDS**/

.structure-cards{
  height: 90%;
  width: 100%; 
 
}

.structure-cards h3{
  margin-left: 15px;
  margin-top: 10px;
}

.structure-cards p{
  margin-top: 10px;
  margin-left: 15px;
  color: var(--text-description);
  font-size: 12px;
}

.structure-cards .container-cards {
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 100px;
  margin-top: 30px;
  
}

.cards{
  height: 100%;
  width: calc(100% / 6);
  background-color: green;
  border: 1px solid black;
  text-align: center;
  margin-left: 15px ;
  
}

.cards{
  cursor: pointer;
}

.cards,.circle img{
  border-radius: 50%;
}

.cards span h4{
  line-height: 20px;
}

.cards span h6{
  color: var(--text-description);
  margin-top: 10px;
}

.cards img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/***PLAYER BOTTOM**/

.player{
  height: 90px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-player{
  width: 200px;
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
}

.container-player img{
  width: 20%;
  margin-left: 10px;
}

.container-player h5{
  margin-left: 10px;
  color: var(--color-text);
}

.container-player h6{
  margin-left: 10px;
  color: var(--text-description);
}


.container-player i{
  margin-left: 30px;
  color: var(--text-description);
}

.container-player i:nth-of-type(2){
  margin-left: 20px;
}

.center{
  width: 500px;
}

.center i{
  color: var(--color-text);
}



/***************************************************************
RESPONSIVE
***************************************************************/

@media screen and (max-width:600px) {

  .logo img{
   display: none;
  }

  .logo .logo-small{
    display: block;
  }
}