*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/***************************************************************
GENERAL
***************************************************************/
:root{
  --primary-color:#141922;
  --color-text: white;
  --text-description:#787A7F;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--primary-color);
}

.container{
  width: 85%;
  height: 100%;
  background-color: burlywood;
}

.deb-flex{
  display: flex;
  justify-content: center;
}

.debug{
  border: 1px solid lightgray;
}


/***************************************************************
HEADER
***************************************************************/
header{
  position: sticky;
  top: 0;
  z-index: 999;

  height: 80px;
  width: 100%;
  background-color: rgba(8, 11, 18, 0.6);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-header{
  text-align: center;
  margin-right: 50px;
  color: var(--color-text);
}

.logo{
  z-index: 998;
  height: 80%;
  width: 20%;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
}

/***************************************************************
MAIN
***************************************************************/
main{
  display: flex;
  justify-content: flex-end;
  overflow: auto;
  
}

.container-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: aliceblue;
}




/***************************************************************
FOOTER
***************************************************************/

footer{
  height: 80px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}




/***************************************************************
RESPONSIVE
***************************************************************/